.sat
{
	background: rgba(204,204,204,1);
}
.sat ul ul li .active
{
	background: rgba(153,153,153,1);
}
.container .jumbotron
{
	margin-top:20px;
	background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(tickets-background.jpg);
	background-size:1170px 300px;
	background-repeat:no-repeat;
	background-position:center; 
	
}
.container .jumbotron h1
{
	color:rgba(255,255,255,1);
}
table td
{
	text-align: center;
}